@import 'normalize.css';

$dashblue: #008de4;
$darkblue: #292d3e;

$lightgrey: #f7f7f7;
$white: #ffffff;

$fullwidth: 420px;
$fullheight: 600px;

body {
  background-color: $dashblue;
  color: #ffffff;
  width: 420px;
  max-width: 420px;
  max-height: 600px;
  height: 600px;
}
a {
  color: #b5cfde;
  text-decoration: none;
}

a:hover {
  color: #9cc5de;

}

button {
  color: $darkblue
}

.input-group {
  display: flex;

  margin: 1rem 0;

  flex-direction: row;
  gap: 1rem;

  align-items: center;
}

.text-hover {
  position: relative;
  border-bottom: 1px dotted black;
}

.text-hover:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.text-hover:hover:before {
  opacity: 1;
  visibility: visible;
}
